h1,
p,
footer {
  text-align: center;
}

footer a {
  text-align: center;
  margin: 0 10px;
}

body {
  background: rgb(224, 232, 233);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
